@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Merriweather&display=swap');
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  padding: 10vw;
  height: 100vh;

}

.umeed-heading{
  font-family: 'DM Sans', sans-serif;
  backdrop-filter: blur(50px);
  border: solid 2px transparent;
  border-radius: 20px;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46,54,68,0.03);
}

.some-random-text{
/*   font-family: 'Merriweather', serif; */
}

hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  position: absolute;
  
  height: 150px;
  left: 35px;
  bottom: 10px;

}
.date-right {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 35px;
  bottom: 10px;

}